
    {{log groups}}
    {{log members}}
    <select onchange=selectionChange() class="memberSelection" style="margin: auto; display:block;">
      {{#each members}}
      <option class="{{this.dataValues.id}}"> {{this.dataValues.id}}. {{this.dataValues.first_name}}
        {{this.dataValues.last_name}}</option>
      {{/each}}
    </select>
  </div>
</div>