<div class="row">
    <div class="col col-12 text-center">
        <h1>Member Info</h1>


        {{#each members}}

            <div class="col col-12 text-center" style = "display: none" data-id={{this.dataValues.group}}>
                    <div class="col col-12 text-center group-card">
        <div>
        <h5>{{this.dataValues.first_name}} {{this.dataValues.last_name}}</h5>
        <p >{{this.dataValues.description}}</p>
        <p>Zip Code: {{this.dataValues.zip_code}}</p>
        <a href="''" + {{this.dataValues.social_handle}} + "''" class="btn btn-primary">{{this.dataValues.social_handle}}</a>
        </div>
        </div>
                </div>


        {{/each}}
    </div>
</div>