<div class="row" style="margin: auto; display: block">
    <div class="col-12 text-center">
        <div class="section-text" style="margin-top: 50px">Member Info</div>


        {{#each members}}
        <div style="display: none" style="width: 80vw">
            <div class="col-12" data-id={{this.dataValues.id}}>
                <div class="group-card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.dataValues.first_name}} {{this.dataValues.last_name}}</h5>
                        <p class="card-text">{{this.dataValues.description}}</p>
                        <p class="card-text">{{this.dataValues.zip_code}}</p>
                        <a href="''" + {{this.dataValues.social_handle}} + "''"
                            class="btn btn-primary">{{this.dataValues.social_handle}}</a>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>